/*mobile*/
@media only screen and (min-width:240px) and (max-width:607px) {

    /* modal */
    .form-register {
        max-width: 70%;
    }

    .cart-items {
        overflow: scroll;
        height  : 165px;
    }

    .cart-price {
        font-size: 10px;
    }

    .modal {
        left : 5%;
        width: 90%;
    }

    .modal-content {
        width: 100%;
    }

    .cart-quantity-input {
        margin-right: 7px;
    }

    .cart-item-title {
        font-size: 0.8em;
    }

    .cart-column {
        margin-right: 0.5em;
    }

    #cart {
        padding: 10px;
        width  : 38%;

    }
}

/*tablet*/
@media (min-width:480px) and (max-width:1000px) {
    .form-register {
        max-width: 70%;
    }

    .modal {
        left       : 5%;
        width      : 90%;
        padding-top: 100px;
    }

    .cart-quantity-input {
        width: 35px;
    }

    .cart-total {
        text-align  : unset;
        margin-top  : unset;
        margin-right: 20px;

    }

    .cart-quantity-input {
        margin-right: 60px;
    }

    #cart {
        font-size  : 1.2rem;
        margin-left: 0.3rem;
        padding    : 10px;
    }

    .cart-item-title {
        font-size: 0.5em;
    }

    .cart-column {
        margin-right: 0.5em;
    }

    .cart-price {
        margin-right: 1rem;
    }
}